**Цель работы:**

Осуществить предварительную обработку данных csv-файла, выявить и устранить проблемы в этих данных.

# Загрузка набора данных

### Описание предметной области

Вариант № 11

Набор данных: [auto.csv](https://github.com/NeonNik2245/guap_homework_public/blob/main/data_analyze/lab_1/auto.csv)

Атрибуты:
...

### 1.Чтение файла (набора данных)
Данные могут читаться по указанному пути в файловой системе или браться из интернета по ссылке. В случае данного задания файл берётся по ссылке с github.

In [1]:
# импорт библиотек, чтение файла с помощью pandas
import pandas as pd
url = "https://github.com/NeonNik2245/guap_homework_public/blob/main/data_analyze/lab_1/auto.csv?raw=true"
df = pd.read_csv(url)

### 2. Обзор данных

2.1 Вывод первых 20 строк с помощью метода head.
Поскольку в переменную df уже записана таблица (Dataframe), можно не вызывать чтение файла повторно. Метод Head позволяет получить первые n строк таблицы.

In [2]:
# применить метод head
df.head(20)

,Name,year,SellingPrice,kmdriven,fuel,seller_Type,transmission,owner
0,Maruti 800 AC,2007,60000.0,70000.0,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000.0,50000.0,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000.0,100000.0,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000.0,46000.0,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000.0,141000.0,Diesel,Individual,Manual,Second Owner
5,Maruti Alto LX BSIII,2007,140000.0,125000.0,Petrol,Individual,Manual,First Owner
6,Hyundai Xcent 1.2 Kappa S,2016,550000.0,25000.0,Petrol,Individual,Manual,First Owner
7,Tata Indigo Grand Petroll,2014,240000.0,60000.0,Petrol,Individual,Manual,Second Owner
8,Hyundai Creta 1.6 VTVT S,2015,850000.0,25000.0,Petroll,Individual,Manual,First Owner
9,Maruti Celerio Green VXI,2017,365000.0,78000.0,CNG,Individual,Manual,First Owner
10,Chevrolet Sail 1.2 Base,2015,260000.0,35000.0,Petrol,Individual,Manual,First Owner
11,Tata Indigo Grand Petrol,2014,250000.0,100000.0,Petrol,Individual,Manual,First Owner
12,Toyota Corolla Altis 1.8 VL CVT,2018,1650000.0,25000.0,Petrol,Dealer,Automatic,First Owner
13,Maruti 800 AC,2007,60000.0,70000.0,Petrol,Individual,Manual,First Owner
14,Maruti Wagon R LXI Minor,2007,135000.0,50000.0,Petrol,Individual,Manual,First Owner
15,Hyundai Verna 1.6 SX,2012,600000.0,100000.0,Diesel,Individual,Manual,First Owner
16,Datsun RediGO T Option,2017,250000.0,46000.0,Petrol,Individual,Manual,First Owner
17,Honda Amaze VX i-DTEC,2014,450000.0,141000.0,Diesel,Individual,Manual,Second Owner
18,Maruti Alto LX BSIII,2007,140000.0,125000.0,Petrol,Individual,Manual,First Owner
19,Hyundai Xcent 1.2 Kappa S,2016,550000.0,25000.0,Petrol,Individual,Manual,First Owner

2.2 Оценка данных с помощью метода info.
Метод info предоставляет информацию о таблице, включая все колонки, типы данных и использование памяти.

In [3]:
# выполнит метод info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4344 entries, 0 to 4343
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          4344 non-null   object
 1   year          4344 non-null   int64
 2   SellingPrice  4342 non-null   float64
 3   kmdriven      4343 non-null   float64
 4   fuel          4343 non-null   object
 5   seller_Type   4344 non-null   object
 6   transmission  4344 non-null   object
 7   owner         4344 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 271.6+ KB

2.3 Оценка данных с помощью метода describe.
Метод describe описывает определённые столбцы таблицы. В случае с числовыми значениями подсчитываются максимальные, минимальные, средние значения, количество записей с определённой планкой, а так же стандартное отклонение.

In [4]:
df.describe()

              year  SellingPrice       kmdriven
count  4344.000000  4.342000e+03    4343.000000
mean   2013.092311  5.039987e+05   66193.063320
std       4.214543  5.784465e+05   46636.648764
min    1992.000000  2.000000e+04       1.000000
25%    2011.000000  2.100000e+05   35000.000000
50%    2014.000000  3.500000e+05   60000.000000
75%    2016.000000  6.000000e+05   90000.000000
max    2020.000000  8.900000e+06  806599.000000

In [5]:
# оцените числовые столбцы с помощью describe
year_ds = df.year.describe()
print(year_ds)
print("------------")
price_ds = df.SellingPrice.describe()
print(price_ds)
print("------------")
km_ds = df.kmdriven.describe()
print(km_ds)

count    4344.000000
mean     2013.092311
std         4.214543
min      1992.000000
25%      2011.000000
50%      2014.000000
75%      2016.000000
max      2020.000000
Name: year, dtype: float64
------------
count    4.342000e+03
mean     5.039987e+05
std      5.784465e+05
min      2.000000e+04
25%      2.100000e+05
50%      3.500000e+05
75%      6.000000e+05
max      8.900000e+06
Name: SellingPrice, dtype: float64
------------
count      4343.000000
mean      66193.063320
std       46636.648764
min           1.000000
25%       35000.000000
50%       60000.000000
75%       90000.000000
max      806599.000000
Name: kmdriven, dtype: float64


---

**Сделать выводы. Вы должны понимать, что означает тот или иной столбец, чтобы
 ответить на вопросы на защите.**


 ---

 2.4 Оценка названий столбцов
 Для вывода имён столбцов можно использовать как метод info, так и перебор колонок циклом for in с выводом имён стобцов.
 Для удобства работы с данными все названия столбцов должны писаться по общим правилам, будь то малыми буквами, заглавными, с использованием нижнего подчёркивания вместо пробела или просто его остутствием. В случае данного задания столбец seller_Type записан с использованием нижнего подчёркивания с строчной букваой в начале и заглавной после подчёркивания, в то время как kmdriven и SellingPrice записаны без разделителя. Для переименования можно использовать несколько вариантов: 
- Функцию rename с указанием в параметрах имён столбцов для переименования;
- Заменой имён столбцов другими именами столбцов через присваивание. df.columns хранит имена столбцов и позволяет изменять их.

In [6]:
# url = "https://github.com/NeonNik2245/guap_homework_public/blob/main/data_analyze/lab_1/auto.csv?raw=true"
# df = pd.read_csv(url)

# Вывести на экран названия столбцов с помощью df.columns. Выявить проблемы с названиями, если они есть. 
# При необходимости переименовать столбцы. Если проблемы не обнаружены также дать пояснения.

print("---- Before rename ----")
for i in df.columns:
    print(i)

---- Before rename ----
Name
year
SellingPrice
kmdriven
fuel
seller_Type
transmission
owner

In [7]:
# переименование при необходимости

# Мне не нравятся заглавные буквы и названия SellingPrice и kmdriven. 
# Переименуем все столбцы в нижний регистр, заменим имена упомянутым двум столбцам

# Переименуем отдельные столбцы через словарь 
df = df.rename(columns={'SellingPrice': 'selling_price', 'kmdriven': 'km_driven'})
# Переименование через массив (на деле тут класс pandas.core.indexes.base.Index)
df.columns = df.columns.str.lower()

# Проверим
print("---- After rename ----")
for i in df.columns:
    print(i)

---- After rename ----
name
year
selling_price
km_driven
fuel
seller_type
transmission
owner

### 3. Проверка пропусков
Стоит держать в голове, что в зависимости от задания заполнение может или оказывать влияние на результат, или не оказывать.
Как пример - в расчёте количества машин по годам не имеет значения пробег, его можно заполнить, а вот год машины уже нельзя заполнять своим значением

Несколько способов заполнения:
- Заменять столбцы, в виде df[column] = df[column].fillna(значение) - переберёт все строки и в пустые значения поставит указанное;
- При заполнении пустых значений строками (по типу 'N/A' надо будет исп. сл. конструкцию - df.loc[df['column1']=='N/A', 'column1'] = 'new_value', где первое значение "df['column1']=='N/A'" - условие для нахождения строк, а второе значение "'column1'" - отбираемый столбец. После исполнения все значения в столбце по указанному условию заменятся значением 'new_value';
- Удалять строки (или столбцы) через dropna(), в который помещается массив с указанием столбцов, по которым надо проводить удаления.

In [8]:
# Проверить данные на наличие пропусков и устранить их, если они есть (пропуски необходимо либо удалить, либо заменить каким-то значением).

# Стоит держать в голове, что в зависимости от задания заполнение может или оказывать влияние на результат, или не оказывать
# Как пример - в расчёте количества машин по годам не имеет значения пробег, его можно заполнить, а вот год машины уже нельзя заполнять своим значением

# Несколько способов заполнения:
# - Заменять столбцы, в виде df[column] = df[column].fillna(значение)
# - При заполнении пустых значений строками (по типу 'N/A' надо будет исп. сл. конструкцию - df.loc[df['column1']=='N/A', 'column1'] = 'new_value'
# - Удалять строки (или столбцы) через dropna(), в который помещается массив

# Заполним колонку km_driven нулём (будем считать, что машина не ездила)
km_ds = df.km_driven.describe()
print("В основной таблице \n", km_ds)

# df_changed = df
df["km_driven"] = df['km_driven'].fillna(0)

km_ds_changed = df.km_driven.describe()
print("\n Во второй таблице после заполнения \n", km_ds_changed)

# Стало на одно значение больше, это из-за строки 4344, которая была незаполнена

# А строки с пустой ценой надо удалять, поэтому по полю selling_price надо провести удаление. subset Определяет, по каким полям проводить удаление
# Иным способом можно было сделать удаление со словарём, указав {'selling_price' : [np.nan]}
df.dropna(subset=['selling_price'])
price_ds_changed = df.selling_price.describe()
print("\n После чистки строчек с пустой ценой: \n", price_ds_changed)

# Две строки удалены - 4344 и 4345

В основной таблице
 count      4343.000000
mean      66193.063320
std       46636.648764
min           1.000000
25%       35000.000000
50%       60000.000000
75%       90000.000000
max      806599.000000
Name: km_driven, dtype: float64

 Во второй таблице после заполнения
 count      4344.000000
mean      66177.825506
std       46642.093059
min           0.000000
25%       35000.000000
50%       60000.000000
75%       90000.000000
max      806599.000000
Name: km_driven, dtype: float64

 После чистки строчек с пустой ценой:
 count    4.342000e+03
mean     5.039987e+05
std      5.784465e+05
min      2.000000e+04
25%      2.100000e+05
50%      3.500000e+05
75%      6.000000e+05
max      8.900000e+06
Name: selling_price, dtype: float64


---

**Вы должны аргументировать на защите, почему были выполнены те или иные действия с пропусками, а также знать другие способы работы с пропусками, чтобы
 ответить на вопросы на защите.**


 ---

### 4. Проверка дубликатов

#### Проверка явных дубликатов
Явные дубликаты являются задублированными строчками с одинаковыми значениями во всех ячейках, для их нахождения используется dublicated, а для удаления drop_dublicates.

In [9]:
# Пересчёт дубликатов
print(df.duplicated().sum())

763

In [10]:
# удалите дубликаты, если они есть (763 строки)

# Чтобы не затрагивать оригинальные данные - сделаем копию

df_with_del = df.drop_duplicates() # удаление дубликатов

# Сравним:
print("В оригинальной таблице ", len(df), " строк")
print("После удаления дубликатов ", len(df_with_del), " строк")

df = df_with_del

В оригинальной таблице  4344  строк
После удаления дубликатов  3581  строк

#### Проверка неявных дубликатов
Неявные дубликаты - дубликаты, имеющие ошибки в данных или расхождение в написании одних и тех же данных, например, если в двух записях встречаются значения "Не заполнено", "N/A" и df.na, то они логически являются дубликатами, но программно нет - оттуда и название "неявные дубликаты". Они также могут быть вызваны неправильным написанием данных. Для нахождения таких можно использовать функцию unique, возвращающую уникальные значения из указанных элементов данных.
В данном наборе данных есть неявные дубликаты в виде значений Petroll (вместо Petrol) и Dealeer (вместо Dealer) в столбцах fuel и seller_type. Для их замены можно применить функцию replace, указав в ней имена дубликатов и значение, на которое нужно заменить все дубликаты.

In [11]:
# Неявные дубликаты возникают при дублировании столбцов или строк с одинаковыми значениями в разных форматах.
# Например если бы были поля price и selling_price - это были бы неявные дубликаты.

# Получим уникальные значения с помощью df[строка].unique()
print("В столбце ТОПЛИВО есть: ", df['fuel'].unique())
print("В столбце ТИП ПРОДАВЦА есть: ", df['seller_type'].unique())
print("В столбце КОРОБКА ПЕРЕДАЧ есть: ", df['transmission'].unique())
print("В столбце ТИП ВЛАДЕЛЬЦА есть: ", df['owner'].unique())

В столбце ТОПЛИВО есть:  ['Petrol' 'Diesel' 'Petroll' 'CNG' 'LPG' 'Electric' nan]
В столбце ТИП ПРОДАВЦА есть:  ['Individual' 'Dealer' 'Dealeer' 'Trustmark Dealer']
В столбце КОРОБКА ПЕРЕДАЧ есть:  ['Manual' 'Automatic']
В столбце ТИП ВЛАДЕЛЬЦА есть:  ['First Owner' 'Second Owner' 'Fourth & Above Owner' 'Third Owner'
 'Test Drive Car']

In [12]:
# удалите дубликаты, если они есть
# Дубликаты есть в столбцах тип продавца и топливо.

duplicate = 'Petroll' # список неправильных названий
name = 'Petrol'# правильное название
df['fuel'] = df['fuel'].replace(duplicate, name)

duplicate = 'Dealeer' # список неправильных названий
name = 'Dealer'# правильное название
df['seller_type'] = df['seller_type'].replace(duplicate, name)

print("В столбце ТОПЛИВО есть: ", df['fuel'].unique())
print("В столбце ТИП ПРОДАВЦА есть: ", df['seller_type'].unique())

В столбце ТОПЛИВО есть:  ['Petrol' 'Diesel' 'CNG' 'LPG' 'Electric' nan]
В столбце ТИП ПРОДАВЦА есть:  ['Individual' 'Dealer' 'Trustmark Dealer']

---

**Вы должны аргументировать на защите, почему были выполнены те или иные действия с дубликатами, знать, что такое явные и неявные дубликаты и способы работы с ними, чтобы ответить на вопросы на защите.**


 ---

### 5. Провека типов данных
Проверку типов данных можно осуществить функцией info, так как она показывает в столбце dtype значения типов указанных столбцов. При этом можно отдельно вызвать свойство таблицы dtypes.
В связи с заданием необходимо выполнить преобразование. Оно производится с применением функции astype({'Колонка':'тип'}), однако перед этим надо удостовериться, что в указанной колонке отсутствуют значения pd.nan, так как они не могут быть преобразованы к новоу типу и будут выдавать ошибки.

In [13]:
# Поскольку тип данных задаётся столбцам, проверим столбцы
print('Проверка типов данных с использование info()\n')
df.info()
print ('\nПроверка типов данных с использованием dtypes')
df.dtypes

Проверка типов данных с использование info()

<class 'pandas.core.frame.DataFrame'>
Index: 3581 entries, 0 to 4343
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           3581 non-null   object
 1   year           3581 non-null   int64
 2   selling_price  3579 non-null   float64
 3   km_driven      3581 non-null   float64
 4   fuel           3580 non-null   object
 5   seller_type    3581 non-null   object
 6   transmission   3581 non-null   object
 7   owner          3581 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 251.8+ KB

Проверка типов данных с использованием dtypes

name              object
year               int64
selling_price    float64
km_driven        float64
fuel              object
seller_type       object
transmission      object
owner             object
dtype: object

In [14]:
# Проверьте типы данных, при необходимости измените типы данных, чтобы они соответствовали действительности.

# Всё правильно, но мы сделаем предположение, что цена продажи должна быть целым числом.

# Для этого переведём столбец selling_price в int64
# df['selling_price'] =
print(df.dtypes)
# df.astype({'selling_price': 'int64'}).dtypes
# df.info()

df = df.dropna(subset=['selling_price']) # Без удаления пустых строк ругается на 
# IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer: Error while type casting for column 'selling_price'

df.astype({'selling_price': 'int32'}).dtypes

name              object
year               int64
selling_price    float64
km_driven        float64
fuel              object
seller_type       object
transmission      object
owner             object
dtype: object

name              object
year               int64
selling_price      int32
km_driven        float64
fuel              object
seller_type       object
transmission      object
owner             object
dtype: object

---

**Обратите внимание, что во всех вариантах необходимо сделать приведение типов. Будьте готовы на защите аргументировать проверку типов (почему выполнены те или иные преобразования).**


 ---

### 6. Группировка данных

#### Задание 1

Группировка - тип топлива (fuel) по количеству типа продавца (seller_type)
Группировка исполняется через функцию groupby, в ней параметрами указывается список столбцов, по которым надо выполнять группировку. Далее можно выбрать любой столбец и выполнить с ним различные математические действия, в случае задания - подсчитать количество записей.

In [15]:
# выполните группировку согласно варианту

df.groupby(['fuel','seller_type'])['seller_type'].count()

fuel      seller_type
CNG       Dealer                 9
          Individual            28
Diesel    Dealer               377
          Individual          1409
          Trustmark Dealer      14
Electric  Dealer                 1
LPG       Dealer                 1
          Individual            21
Petrol    Dealer               324
          Individual          1376
          Trustmark Dealer      19
Name: seller_type, dtype: int64

Из полученных данных можно выявить несколько фактов:
- Проверенные "Trustmark" диллеры продают мешины только с типом топлива бензин и дизель.
- Подавляющее большинство автомобилей продаются индивидуальными лицами.
- Бензин и дизель имеют более 2700 предложений о продаже, в то время как электрические машины одно, на газе - 37, на LPG - 22.

Информация, которую можно получить из этих фактов:
- На рынке подержаных авто легче всего купить машину на дизеле или бензине;
- Легче всего найти авто у индивидуального лица, а не у диллера.

---

**Обратите внимание, что на защите вы должны ориентироваться в синтаксисе. При необходимости нужно быть готовым изменить код по просьбе преподавателя. Например, вместо среднего значения подсчитать медиану и т.д.**


 ---

#### Задание 2

Группировка - тип топлива (fuel) по количеству типа продавца (seller_type). Создать датафрейм. Переименовать столбец с количеством в “сount”. Отсортировать по убыванию столбца “count”.

In [16]:
# выполните группировку согласно варианту

# dfcopy = df.groupby(['fuel','seller_type']).agg({'name': ['count']}).reset_index() # Но здесь не ресетается индекс
dfcopy = pd.DataFrame(df.groupby(['fuel','seller_type'])['name'].count().sort_values(ascending = False))

# print(type(dfcopy))

# dfcopy.rename(columns= {'count':'Total_Numbers'})
dfcopy.reset_index(inplace = True)
dfcopy.rename(columns={'name':'count'}, inplace=True)

dfcopy

        fuel       seller_type  count
0     Diesel        Individual   1409
1     Petrol        Individual   1376
2     Diesel            Dealer    377
3     Petrol            Dealer    324
4        CNG        Individual     28
5        LPG        Individual     21
6     Petrol  Trustmark Dealer     19
7     Diesel  Trustmark Dealer     14
8        CNG            Dealer      9
9        LPG            Dealer      1
10  Electric            Dealer      1

**`Сделайте вывод - интерпретацию - что можно увидеть из результата данной группировки?`**

Из данной группировки видно следующую информацию:

- Наибольшее количество машин в каждой категории продаётся индивидуальными лицами
- Лидирующие места занимают машины на бензине и дизеле
- Машин на бензине незначительно больше машин на дизеле, что указывает на почти одинаковое предпочтение машин с дизельным и бензиновым двигателями
- Предложений от проверенных диллеров даже на самые крупные группы машин сильно меньше, чем предложение от обычных диллеров и индивидуальных лиц
- Электрические машины ещё не начали появляться на вторичном рынке

---

**Обратите внимание, что на защите вы должны ориентироваться в синтаксисе. При необходимости нужно быть готовым изменить код по просьбе преподавателя. Например, вместо среднего значения подсчитать медиану и т.д.**


 ---

#### Задание 3

Сводная таблица (pivot_table) - среднее количество пройденных километров для каждого типа года year. Отсортировать по убыванию. Округлить до двух знаков.

In [17]:
# выполните сводную таблицу согласно варианту

# выполните группировку согласно варианту

pivot_data = df.pivot_table(index=['year'],  values='km_driven')
pivot_data.sort_values(by='km_driven', ascending=False).round(2)
# pivot_data.round(2)

      km_driven
year
2006  102916.10
1995  100000.00
1992  100000.00
2009   96822.59
2010   93851.62
2007   92119.63
2004   91407.34
2011   90983.64
1997   90000.00
2008   88914.12
2005   87897.74
2001   86743.62
2012   86123.29
2003   82792.77
2002   82555.56
2013   76548.66
2014   76406.01
2000   70936.92
1998   70000.00
1999   67446.67
2015   64279.83
2016   57607.74
1996   47500.00
2017   43072.49
2018   28524.72
2019   19772.75
2020   10961.87

**`Сделайте вывод - интерпретацию - что можно увидеть из результата данной сводной таблицы?`**

Наибольшее расстояние преодолели в среднем машины 2006 года выпуска, при этом машины 2020 года, как самые новые, преодолели наименьшее расстояние. При этом года расположены не по порядку, так, можно увидеть машины 1996 года выпуска с пробегом между 2016 и 2017 годами выпуска, в связи с чем машины этого года было бы выгодно приобрести из-за меньшего износа комплектующих.

---

**Обратите внимание, что на защите вы должны ориентироваться в синтаксисе. При необходимости нужно быть готовым изменить код по просьбе преподавателя. Например, вместо среднего значения подсчитать медиану и т.д.**


 ---

#### Задание 4

Сводная таблица (pivot_table) - среднее количество пройденных километров для каждого типа коробки передач transmission - строки и типа топлива - fuel - столбцы. Отсортировать по возрастанию transmission. Округлить до двух знаков.

In [18]:
# выполните сводную таблицу согласно варианту

pivot_data = df.pivot_table(index=['transmission'], columns='fuel', values='km_driven', aggfunc='mean')
pivot_data.round(2)

fuel               CNG    Diesel  Electric       LPG    Petrol
transmission
Automatic          NaN  64705.44   62000.0       NaN  40256.00
Manual        66551.08  85339.41       NaN  89618.18  55461.95

**`Сделайте вывод - интерпретацию - что можно увидеть из результата выполнения данного кода?`**

В отличие от прошлой сводной таблицы здесь информации меньше. Автоматическая трансмиссия начала стабильно появляться в списке с 2003 года, следовательно, все автомобили до 2003 года идут только в зачёт ручной коробки передач и увеличивают среднее преодолённое расстояние.
Если смотреть только на полученные данные, то можно сказать, что среднее пройденное расстояние у машин с ручной трансмиссией больше, чем у автоматической трансмиссии.
Более полезная информация заключается в том, что у электрических автомобилей нет вариации с ручной коробкой передач, а у сжиженного природного газа нет варианта автоматической трансмиссии.

---

**Обратите внимание, что на защите вы должны ориентироваться в синтаксисе. При необходимости нужно быть готовым изменить код по просьбе преподавателя. Например, вместо среднего значения подсчитать медиану и т.д.**


 ---

### Вывод


***`Сделать расширенный вывод. `***

В процессе выполнения лабораторной работы были исследованы способы работы с таблицами данных при помощи библиотеки pandas, а также использование jupyter notebook. Для анализа была получена таблица, содержащая информацию о продаваемых машинах со вторичного рынка. Таблица содержала информацию о наименовании авто, годе выпуска автомобиля, пройденном расстоянии, типе продавца, типе топлива и трансмиссии, типе владельца авто до его продажи.
После выполнения группировок и составления сводных таблиц была получена информация о рынке, такая как количество автомобилей по типу топлива, среднее пройденное расстояние по различным группировкам. Из выведенных данных можно сказать, что больше всего автомобилей расходуют в качестве топлива бензин или дизель, при этом количество автомобилей с этими типами топлива примерно одинаковое. Также известно, что большая часть (75%) авто продаётся индивидуальными лицами, а не диллерами.
Можно добавить информацию о пройденном расстоянии и годе выпуска, так, рекомендуется барть машины последних лет, а также 1996 года, 1998, 1999, 2000 в связи с их небольшим пробегом относительно моделей 2002, 2003, 2012 годов.

### Дополнительное задание

**`Подробная формулировка задания`**

In [19]:
# код выполнения задания

2, 11, 19, 24

(2, 11, 19, 24)

***`Подробный вывод по заданию, описание полученных результатов`***

# Задания:
### 2
Создать столбец “Категория пробега (kmdriven)” (с помощью категоризации).
Выделить минимум 3 категории (маленький, большой, средний), фильтрацию
для уровня пробега выбрать самостоятельно, аргументировать выбор. Создать
сводную таблицу: средний и медианный пробег по категории пробега и типу
продавца (seller type).

### 11
Создать столбец “Категория стоимости (price)” (с помощью категоризации).
Выделить минимум 3 категории (низкая, высокая, средняя), фильтрацию для
уровня цены выбрать самостоятельно, аргументировать выбор. Создать
сводную таблицу: средняя и медианная price по категории цены и году.

### 19
Создать столбец “Категория года (year)” (с помощью категоризации).
Выделить минимум 3 категории (старая, новая, средняя), фильтрацию для года
выбрать самостоятельно, аргументировать выбор. Создать столбец “Категория
стоимости (price)” (с помощью категоризации). Выделить минимум 3
категории (низкая, высокая, средняя), фильтрацию для уровня цены выбрать
самостоятельно, аргументировать выбор. Создать сводную таблицу: средний,
медианный пробег по категории года и категории стоимости.

### 24
Создать столбец “Категория стоимости (price)” (с помощью категоризации).
Выделить минимум 3 категории (низкая, высокая, средняя), фильтрацию для
уровня цены выбрать самостоятельно, аргументировать выбор. Отфильтровать
набор данных. Выбрать только записи, где категория цены= низкая и высокая+
выбрать 2 типа топлива с максимальной медианной стоимостью + transmission
c максимальным количеством записей + год в определенном диапазоне
(диапазон выбрать самостоятельно, чтобы получить в выборке достаточное
количество записей). Создать сводные таблицы: owner, year- средний пробег и
медианная цена.

In [22]:
# Задание 2
# Создать столбец kmdriven, заполнить его значениями small, avarage, large от уровня пробега
# При помощи df.describe() можно выяснить, что среднее расстояние - около 70 тыс. км. 25% - отметка в 36'000 км, 50% - 60'000, 75% - 90'000.
# Предположим, что маленький пробег для машины - это четверть рынка, то есть 36 тыс. Средним назовём 36 тыс - 90 тыс, а большим свыше 90 тыс.

df.loc[:, 'kmdriven_category'] = pd.cut(df.loc[:,'km_driven'], bins=[0, 36000, 90000, float('inf')], labels = ['small', 'medium', 'large'])

# Вариант ниже не работает по причине работы копирования и вставки. loc должен использоваться вместо ['value'] согласно 
# https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# df['kmdriven_category'] = pd.cut(df['km_driven'], bins=[0, 36000, 90000, float('inf')], labels = ['small', 'medium', 'large'])


# Проверим
df.head(20)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,kmdriven_category
0,Maruti 800 AC,2007,60000.0,70000.0,Petrol,Individual,Manual,First Owner,medium
1,Maruti Wagon R LXI Minor,2007,135000.0,50000.0,Petrol,Individual,Manual,First Owner,medium
2,Hyundai Verna 1.6 SX,2012,600000.0,100000.0,Diesel,Individual,Manual,First Owner,large
3,Datsun RediGO T Option,2017,250000.0,46000.0,Petrol,Individual,Manual,First Owner,medium
4,Honda Amaze VX i-DTEC,2014,450000.0,141000.0,Diesel,Individual,Manual,Second Owner,large
5,Maruti Alto LX BSIII,2007,140000.0,125000.0,Petrol,Individual,Manual,First Owner,large
6,Hyundai Xcent 1.2 Kappa S,2016,550000.0,25000.0,Petrol,Individual,Manual,First Owner,small
7,Tata Indigo Grand Petroll,2014,240000.0,60000.0,Petrol,Individual,Manual,Second Owner,medium
8,Hyundai Creta 1.6 VTVT S,2015,850000.0,25000.0,Petrol,Individual,Manual,First Owner,small
9,Maruti Celerio Green VXI,2017,365000.0,78000.0,CNG,Individual,Manual,First Owner,medium
10,Chevrolet Sail 1.2 Base,2015,260000.0,35000.0,Petrol,Individual,Manual,First Owner,small
11,Tata Indigo Grand Petrol,2014,250000.0,100000.0,Petrol,Individual,Manual,First Owner,large
12,Toyota Corolla Altis 1.8 VL CVT,2018,1650000.0,25000.0,Petrol,Dealer,Automatic,First Owner,small
20,Tata Indigo Grand Petrol,2014,240000.0,60000.0,Petrol,Individual,Manual,Second Owner,medium
21,Hyundai Creta 1.6 VTVT S,2015,850000.0,25000.0,Petrol,Individual,Manual,First Owner,small
26,Maruti Ciaz VXi Plus,2015,585000.0,24000.0,Petrol,Dealer,Manual,First Owner,small
27,Hyundai Venue SX Opt Diesel,2019,1195000.0,5000.0,Diesel,Dealer,Manual,First Owner,small
28,Chevrolet Enjoy TCDi LTZ 7 Seater,2013,390000.0,33000.0,Diesel,Individual,Manual,Second Owner,small
29,Jaguar XF 2.2 Litre Luxury,2014,1964999.0,28000.0,Diesel,Dealer,Automatic,First Owner,small
30,Mercedes-Benz New C-Class 220 CDI AT,2013,1425000.0,59000.0,Diesel,Dealer,Automatic,First Owner,medium

In [31]:
# Задание 11

# Создать столбец “Категория стоимости (price)” (с помощью категоризации).
# Выделить минимум 3 категории (низкая, высокая, средняя), фильтрацию для уровня цены выбрать самостоятельно, аргументировать выбор.
# Создать сводную таблицу: средняя и медианная price по категории цены и году.

# Столбец создаём так же, как и в прошлом задании
# Четверть рынка - до 200'000, половина - до 350'000, три четверти 600'000.
# Укажем низкую цену - до 25% рынка, высокую - свыше 75% рынка.
df.loc[:, 'price_category'] = pd.cut(df.loc[:,'selling_price'], bins=[0, 200000, 600000, float('inf')], 
                                     labels = ['little_price', 'medium_price', 'large_price'])
# df.describe()

pivot_table = df.pivot_table(index = ['price_category', 'year'], values = 'selling_price', aggfunc = ['mean', 'median'], observed=True).round(2)

# И проверка
pivot_table
# Учитываем, что медиана - значение по середине, а среднее значение - сумма / количество. Видно на строчках 1997 и 1998 года у низкой цены

                             mean        median
                    selling_price selling_price
price_category year
little_price   1992      50000.00       50000.0
               1995      95000.00       95000.0
               1996     200000.00      200000.0
               1997      93000.00       79000.0
               1998      60750.00       60000.0
...                           ...           ...
large_price    2016    1025666.61      750000.0
               2017    1078846.12      800000.0
               2018    1108132.93      850000.0
               2019    1185659.31      900000.0
               2020    1081807.62      926000.0

[62 rows x 2 columns]

In [33]:
# Задание 19
# Создать столбец “Категория года (year)” (с помощью категоризации).
# Выделить минимум 3 категории (старая, новая, средняя), фильтрацию для года выбрать самостоятельно, аргументировать выбор.
# Создать столбец “Категория стоимости (price)” (с помощью категоризации). 
#    Выделить минимум 3 категории (низкая, высокая, средняя), фильтрацию для уровня цены выбрать самостоятельно, аргументировать выбор.
# Создать сводную таблицу: средний, медианный пробег по категории года и категории стоимости.

df.loc[:, 'year_category'] = pd.cut(df.loc[:,'year'], bins=[0, 2000, 2015, float('inf')], 
                                     labels = ['old', 'medium', 'new'])
# До 2000 года старые автомобили из 19 века, до 2015 нормальные, машины меньше 10 лет - новые.

# Категория стоимости уже есть

pivot_table = df.pivot_table(index = ['year_category', 'price_category'], values = 'km_driven', aggfunc = ['mean', 'median'], observed=True).round(2)
pivot_table

                                  mean    median
                             km_driven km_driven
year_category price_category
old           little_price    73807.51   70000.0
              medium_price    35000.00   35000.0
              large_price     35000.00   35000.0
medium        little_price    85566.05   80000.0
              medium_price    82271.27   74660.0
              large_price     84636.17   75000.0
new           little_price    44958.94   40000.0
              medium_price    37688.17   30000.0
              large_price     38690.66   30093.0

In [74]:
# Создать столбец “Категория стоимости (price)” (с помощью категоризации). Выделить минимум 3 категории (низкая, высокая, средняя), 
# фильтрацию для уровня цены выбрать самостоятельно, аргументировать выбор.

# Отфильтровать набор данных. Выбрать только записи, где категория цены= низкая и высокая
# + выбрать 2 типа топлива с максимальной медианной стоимостью 
# + transmission c максимальным количеством записей 
# + год в определенном диапазоне (диапазон выбрать самостоятельно, чтобы получить в выборке достаточное количество записей). 

# Создать сводные таблицы: owner, year- средний пробег и медианная цена.

###

filtered_df = df[(df['price_category'].isin(['little_price','large_price']))]

# filtered_df.loc[
fuel_filter = filtered_df.groupby(by='fuel')['selling_price'].median().nlargest(2).index
# .nlargest(2).index
    # ]

transmission_filter = filtered_df.groupby(by='transmission')['selling_price'].count().nlargest(1).index

year_filter = [2000, 2001, 2002, 2003, 2004, 2005]
#filtered_df.groupby(by='year')['selling_price'].count().nlargest(5).index

fully_filtered_df = filtered_df[
    (filtered_df['year'].isin(year_filter))
    &(filtered_df['fuel'].isin(fuel_filter))
    &(filtered_df['transmission'].isin(transmission_filter))]


# Чтобы применить несколько функций - кидаем в aggfunc словарь с столбцом и именем функции
pivot_table = fully_filtered_df.pivot_table(index = ['owner', 'year'], 
                                            values = ['km_driven', 'selling_price'], 
                                            aggfunc = {'km_driven':'mean',
                                                        'selling_price':'median'},
                                            observed=True).round(2)

# fuel_filter
# filtered_df
# transmission_filter
# fully_filtered_df
pivot_table

                           km_driven  selling_price
owner                year
First Owner          2001   256000.0       150000.0
                     2002   120000.0       100000.0
                     2004   120000.0       182500.0
                     2005   134600.0       100000.0
Fourth & Above Owner 2002   120000.0        50000.0
                     2004   120000.0       110000.0
                     2005    92645.0       114999.0
Second Owner         2000    50000.0       155000.0
                     2002   116000.0        90000.0
                     2003    91250.0        65000.0
                     2004   120000.0       120000.0
                     2005   132500.0       125000.0
Third Owner          2001   100000.0        80000.0
                     2002    75000.0       117500.0
                     2003   120000.0       110000.0
                     2005   120000.0       120000.0